.shipping {
    width: 100%;
    &__info {
        max-width: 1010px;
        h1 {
            margin: 0 0 18px 0;
        }
        h4 {
            margin: 0 0 10px 0;
        }
        
    }
}
.basic-info {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    &__text {
        margin: 0 0 15px 0;
    }
    li {
        position: relative;
        padding: 0 0 0 15px;
        &::before {
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #3A405A;
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(12px);
        }
    }
}
